@import './fonts.scss';

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  letter-spacing: 0.02rem;
  box-sizing: border-box;
  background-color: #f5f5f5;
  line-height: 1.2;
  font-family: 'Inter Tight', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
}
